
* { box-sizing: border-box }

body {
    font-family: 'nimbus-sans', Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0;
    color: var(--black);
    background-color: #fff;
}

h1, h2, h3,
h4, h5, h6,
p, dl, ol, ul,
blockquote {
    margin: 0
}

h1, h2, h3,
h4, h5, h6 {
    line-height: 1.25;
    letter-spacing: 0.2em;
}
