
.Prose {
    font-size: 24px;
    font-weight: var(--bold);
}

.Prose h1,
.Prose h2,
.Prose h3,
.Prose h4,
.Prose h5,
.Prose h6
{
    margin-top: var(--space-4);
    margin-bottom: var(--space-3);
}

.Prose img {
    max-width: 100%;
    height: auto;
    margin-bottom: var(--space-3);
}

.Prose p:after {
    content: ' ';
    display: table;
    width: 100%;
    clear: both;
    margin-bottom: var(--space-4);
}

.Prose p {
    margin-bottom: var(--space-3);
}

@media (--breakpoint-sm) {
    .Prose img {
        max-width: calc(7 / 12 * 100%);
    }

    .Prose img:nth-of-type(2n) {
        float: left;
        margin-left: -var(--space-3);
        margin-right: var(--space-3);
    }

    .Prose img:nth-of-type(2n + 1) {
        float: right;
        margin-left: var(--space-3);
        margin-right: -var(--space-3);
    }
}

